
body {
    background-color: #2eccfa;
}
.biplano {
    background-color: black;
    height: 8%;
    left: 0;
    position: absolute;
    top: 92%;
    width: 100%;
}
.ovelha {
    height: 8%;
    left: 0;
    position: absolute;
    top: 92%;
    width: 5%;
}
.cante {
    height: 8%;
    left: 0;
    position: absolute;
    top: 92%;
    width: 5%;
}
.frente {
    background-color: black;
    height: 82%;
    left: 0%;
    opacity: 0.4;
    position: absolute;
    top: 10%;
    width: 20%;
}
.carro{
  height: 8%;
  left: 0;
  position: absolute;
  top: 92%;
  width: 5%;
}
.quadrado{
  position: absolute;
  top:  10%;
  left: 10%;
}
