
body {
    background-color: #2e9afe;
}
.barra_de_tarefas {
    background-color: black;
    height: 5%;
    left: 0;
    position: absolute;
    top: 95%;
    width: 100%;
}
.fundo_da_home {
    background-color: #2e2efe;
    height: 74%;
    left: 0;
    position: absolute;
    top: 21%;
    width: 17%;
}
.botao_home {
    height: 5%;
    left: 0;
    position: absolute;
    top: 95%;
    width: 4%;
}
.lista_da_home {
    font-size: 135%;
    list-style-type: none;
}
.janela_explorer {
    height: 71%;
    left: 43%;
    position: absolute;
    top: 4%;
    width: 57%;
}
.titulo_da_janela_series {
    color: white;
    font-family: sans-serif;
    font-size: 156%;
    left: 49%;
    position: absolute;
    top: 2%;
}
.lista_janela_series {
    color: white;
    font-family: sans-serif;
    left: 53%;
    list-style-type: none;
    position: absolute;
    top: 14%;
}
.botao_de_fechar_series {
    border-radius: 50%;
    height: 2%;
    left: 43%;
    position: absolute;
    top: 5%;
    width: 2%;
}
.sherlock_serie_button {
    color: white;
    font-family: sans-serif;
    left: 55%;
    list-style-type: none;
    position: absolute;
    top: 14%;
}
.lista_de_temporadas_sherlock {
    color: white;
    font-family: sans-serif;
    left: 53%;
    list-style-type: none;
    position: absolute;
    top: 14%;
}
.lista_da_home_series {
    font-family: sans-serif;
}
.lista_de_episodios_sherlock_01temporada {
    color: white;
    font-family: sans-serif;
    left: 53%;
    list-style-type: none;
    position: absolute;
    top: 14%;
}
